name: Run linter and formatter

on:
  pull_request:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]

permissions:
  contents: read

jobs:
  test:
    name: Lint and Format
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v0.62.2
      - name: Run ruff linter
        run: |
          pixi run lint
      - name: Run ruff formatter
        run: |
          pixi run format --check